.bg-custom{
  background-color: #001d3d;
}

.height-custom{
  min-height: 10vh;
}

.div-custom-height{
  height: 200px;
}

.make-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.shadow-custom{
  border: none;
  border-radius: 8px;
  box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.7);
  font-weight: 700;
}

.flex-custom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
